/venv
/dataset
/data
/models
/runs
.idea
.vscode
*.egg-info
native_reassembler_module/cpp/build
native_reassembler_module/cpp/cmake-build-*
native_reassembler_module/cpp/data
native_reassembler_module/native_reassembler_module.*.pyd
native_reassembler_module/native_reassembler_module.*.so
testing/perf/cpp/build
testing/perf/cpp/cmake-build-*
testing/perf/cpp/data
testing/perf/perf_cpp.*.pyd
testing/perf/perf_cpp.*.so
__pycache__
/test_data
yolov8n_ncnn_model
yolov8n.pt
yolov8n.torchscript
/yolo_tools/yolov8n.pt
/plots/out
runs

