/venv
/dataset
/data
/models
/runs
.idea
.vscode
*.egg-info
native_reassembler_module/cpp/build
native_reassembler_module/cpp/cmake-build-*
native_reassembler_module/cpp/data
native_reassembler_module/native_reassembler_module.*.pyd
native_reassembler_module/native_reassembler_module.*.so
__pycache__
/test_data
/testing/yolov8n_ncnn_model
/testing/yolov8n.pt
/testing/yolov8n.torchscript
/yolo_tools/yolov8n.pt
/plots/out

